@media all {
	#-mqa-alias-third{}
	p { color: blue; }
}
@media all and (orientation: landscape) {
	#-mqa-alias-landscape{}
	p { color: pink; }
}
@media all and (max-width: 300px) {
	#-mqa-alias-maxwidth{}
	p { color: red; }
}
