table {
	width: 100%;
	max-width: 600px;
}

th {
	text-align: left;
}

@media all and (orientation: landscape) {
	.-mqa-alias-landscape {}
}

@media all and (orientation: portrait) {
	.-mqa-alias-portrait {}
}

@media all and (max-width: 600px) {
	.-mqa-alias-devicewidth {}
	table {
		color: blue;
	}
}
